@import url(/Users/alinepencreach/Documents/_Work/Git/Asian_food_restaurant/css/fonts/webfontkit-20220414-062614/stylesheet.css);
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

body {
  max-width: 100vw;
}

.header {
  top: 0;
  background-color: #001542;
}

.navbar {
  padding: 0em 0.3em 1em 0em;
}

.navbar .navbar-toggler-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .list {
  height: 3em;
}

.btn {
  font: 1em "loraregular", "sans-serif";
  background-color: #001542;
  color: #FFFFFF;
}

.modal-header {
  background-color: #001542;
  color: #FFFFFF;
  font: 1em "loraregular", "sans-serif";
}

.nav-item {
  width: auto;
}

.nav-link {
  color: #FFFFFF;
  font: 1em "loraregular", "sans-serif";
}

.nav-link:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

.collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.hero-banner {
  background-color: #001542;
  max-width: 100vw;
  height: calc(100vh - 131px);
  position: relative;
}

.hero-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-svg {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 60vw;
}

@media screen and (max-width: 991px) {
  .hero-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 50vw;
    margin-left: 0;
  }
  .hero-svg {
    display: none;
  }
  .hero-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
  }
}

.hero-title {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-title h1 {
  font: bold 3em "Loraitalic", "sans-serif";
  text-align: center;
  font-size: 4em;
}

@media screen and (max-width: 991px) {
  .title {
    text-align: center;
    margin-bottom: 0.5em;
  }
  .order-now {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1400px) {
  .hero-title h1 {
    font-size: calc(30px + 3vw);
    margin-bottom: 0.5em;
  }
}

.order-now {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.order-now p {
  border: 1px solid #FFCE56;
  font: 1em "loraregular", "sans-serif";
  padding: 14px;
  width: 8em;
  text-align: center;
}

.order-now a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

.floating {
  position: relative;
  width: 3em;
  height: 3em;
  border: 1px solid;
  -webkit-box-shadow: 0 0 0 0 #fff;
          box-shadow: 0 0 0 0 #fff;
  -webkit-animation: pulse 1.5s infinite;
          animation: pulse 1.5s infinite;
  border-radius: 100%;
  margin: 1.5em;
  padding: 0.5em;
  cursor: pointer;
}

.floating .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1.6em;
}

@-webkit-keyframes pulse {
  to {
    -webkit-box-shadow: 0em 0em 0.1em 1em rgba(255, 255, 255, 0.01);
            box-shadow: 0em 0em 0.1em 1em rgba(255, 255, 255, 0.01);
  }
}

@keyframes pulse {
  to {
    -webkit-box-shadow: 0em 0em 0.1em 1em rgba(255, 255, 255, 0.01);
            box-shadow: 0em 0em 0.1em 1em rgba(255, 255, 255, 0.01);
  }
}

.story {
  background-color: #F0FAFF;
  color: #001542;
  padding: 0 3em;
  max-width: 100vw;
}

.story .text {
  padding-bottom: 2em;
  width: 60vw;
}

.story .text h1 {
  padding: 0.5em;
  font: bold 3em "Loraitalic", "sans-serif";
  font-size: 3em;
}

.story .mauris {
  height: 13em;
  margin: 5em;
}

@media screen and (max-width: 991px) {
  .our-story {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our-story .text {
    width: 90vw;
    padding-bottom: 0em;
  }
  .our-story .text h1 {
    padding: 0em;
  }
  .our-story .mauris {
    margin: 1em;
  }
}

.instagram-pics p {
  font: 0.5em "lobsterregular", "sans-serif";
  font-size: 2em;
}

.instagram-pics svg {
  margin-left: 0.3em;
}

.instagram-pics img {
  width: 10em;
}

.imginsta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  background-color: #F0FAFF;
  color: #001542;
  font: 1em "loraregular", "sans-serif";
}

.menu img {
  width: 10em;
  padding: 1em;
}

.menu h2 {
  text-decoration: underline;
  font: bold 3em "Loraitalic", "sans-serif";
  font-size: 2em;
}

@media screen and (min-width: 750px) {
  .menu {
    background-color: #F0FAFF;
  }
  .menu img {
    width: calc(7vw + 10em);
  }
}

footer {
  background-color: #FFCE56;
  max-width: 100vw;
}

footer .footcopy {
  color: #001542;
  font-size: 0.8em;
  cursor: pointer;
}

.left .white {
  color: white;
  font: 1em "loraregular", "sans-serif";
  font-size: 1.7em;
}

.left .bleu {
  color: #001542;
  font: bold 3em "Loraitalic", "sans-serif";
  font-size: 1.3em;
  padding-left: 1em;
}

.adress span {
  color: #001542;
  font: 1em "loraregular", "sans-serif";
  font-size: 1.2em;
}

@media screen and (min-width: 768px) {
  .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  svg {
    margin-left: 1em;
  }
}

.right {
  color: #001542;
}

.right svg {
  margin-right: 1em;
  margin-left: 0.3em;
}

.right p {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */