@import "sass/tools/_variables.scss";
@import "fonts/webfontkit-20220414-062614/stylesheet";

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.header {
  // position: fixed;
  top: 0;
  background-color: $primary-color;
}

// NAVBAR
.navbar {
  padding: 1em 2em;

  .navbar-toggler-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .list {
    height: 3em;
    
  }
}

.navbar-collapse {
  position: relative;
  .navbar-nav {
    position: absolute;
    right: 0;
  }
}

.nav-item {
  width: auto;
}

.nav-link {
  color: $white-color;
  font: $primary-font;
}

//HERO BANNER
.hero-banner {
  background-color: $primary-color;
  width: 100vw;
  height: calc(100vh - 131px);
}

.hero-header {
  display: flex;
}

.hero-svg {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 70vw;
}

@media screen and (max-width: 991px) {
  .hero-banner {
    display: flex;
    justify-content: center;
    .hero-header {
      display: block;
      .hero-svg {
        position: relative;
        min-width: 100vw;
      }
    }
  }
}



.hero-title {
  color: $white-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font: $primary-title-font;
    width: 8em;
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  .title {
    // width: 100vw;
    text-align: center;
    margin-bottom: 0.5em;
  }
  .order-now {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.order-now {
  color: $white-color;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    border: 1px solid $secondary-color;
    font: $primary-font;
    padding: 14px;
    width: 8em;
    text-align: center;
  }
}

//ABOUT US

.our-story {
  .text {
      padding-bottom: 2em;
      width: 60%;
    h1 {
      padding: .5em;
    }
  }
  .mauris {
    height: 13em;
    margin: 5em;
  }
}