// Colors:
$primary-color: #001542;
$secondary-color: #FFCE56;
$lighter-color: #F0FAFF;
$white-color: #FFFFFF;

// Fonts lobsterregular, loraregular, loraitalic
$primary-title-font: bold 5em 'Loraitalic', 'sans-serif' ;
$primary-font:  1.3em 'loraregular', 'sans-serif';
$secondary-font: 1em 'lobsterregular', 'sans-serif'



