// Colors:
$primary-color: #001542;
$secondary-color: #FFCE56;
$lighter-color: #F0FAFF;
$white-color: #FFFFFF;

// Fonts lobsterregular, loraregular, loraitalic
$primary-title-font: bold 3em 'Loraitalic', 'sans-serif';
$primary-font:  1em 'loraregular', 'sans-serif';
$secondary-font: .5em 'lobsterregular', 'sans-serif'



